<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/master-layout}">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>

    <main layout:fragment="content">

        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-4 m-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 th:text="${category.name}" class="card-title text-center">Card title</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>