<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/master-layout}">
<head>
  <meta charset="UTF-8">
  <title>CategoryForm</title>
</head>
<body>
  <main layout:fragment="content">

      <div class="container mt-4 mb-4">
          <div class="row">
              <div class="col-4 m-auto">
                  <form th:action="${isEdit} ? '/category/edit/' + *{id} : '/category/add' " th:object="${category}" method="post">
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                          <input th:field="*{name}" type="text" id="name" class="form-control" />
                          <label class="form-label" for="name" >Category Name</label>
                      </div>

                      <!-- Submit button -->
                      <button type="submit" class="btn btn-primary btn-block">Add Category</button>
                  </form>
              </div>
          </div>
      </div>
<!--      -->

<!--      -->




  </main>
</body>
</html>