<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/master-layout}">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>

  <main layout:fragment="content">




    <div class="container mt-4 mb-4">
      <div class="row">

        <div class="mb-4">
          <a class="btn btn-primary" th:href="@{/user/add}">
            Add New User
          </a>
        </div>

        <table class="table table-bordered" >
          <thead>
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Bio</th>
            <th scope="col">Handle</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="user : ${users}" th:object="${user}">
            <th scope="row" th:text="*{id}"></th>
            <td th:text="*{username}"></td>
            <td th:text="*{bio}"></td>
            <td class="text-center">
              <a class="btn btn-sm btn-info" th:href="@{/user/{id}(id=*{id})}" href="">View</a> <br>
              <a class="btn btn-sm btn-warning" th:href="@{/user/edit/{id}(id=*{id})}" href="">Edit</a> <br>
              <a class="btn btn-sm btn-danger" th:href="@{/user/delete/{id}(id=*{id})}" href="">Delete</a>
            </td>
          </tr>


          </tbody>
        </table>


      </div>
    </div>






  </main>
</body>
</html>